*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inter, .menu, .btn, .btn-tsp{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    display: flex;
    max-width: 1600px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

.btn{
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn:hover{
    background-color: #36774f;
}

.btn-tsp{
    border-radius: 4px;
    border-color: white;
    padding: 12px 16px;
    background: transparent;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn-tsp:hover{
    background-color: #f0f0f027;
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-section{
    background-image: url(./assets/hero-bg.png);
   background-size: cover;
    height: 674px;
    text-align: center;
}

.hero-container{
    margin: 0px auto;
    padding: 115.5px 120px 179.5px;
}

.button-div{
    display: flex;
    gap: 16px;
}

#rb-text{
    display: inline-block;
    background-color: white;
    color: #469165;
    padding: 12px;
    border-radius: 1000px;
    border: none;
    margin-bottom: 16px;

}

.icon{
    display: flex;
    gap: 6px;
    align-items: center;
}

.circle1, .circle2, .circle3 {
  border-radius: 50%;
}

.circle1 {
  width: 16px;
  height: 16px;
  background-color: #4e996e26;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle2 {
  width: 12px;
  height: 12px;
  background-color: #4e996e4d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle3 {
  width: 6px;
  height: 6px;
  background-color: #4e996e;
}

.text-div p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

#stext{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: white;
    margin-bottom: 16px;
}

.note-section{
    background-color: #fbfbfb;
    text-align: center;
    padding-bottom: 20px;
}

.title{
    height: 152px;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    gap: 16px;
}

.title h3{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-top: auto;
}

.title p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}


.card-container{
    display: flex;
    max-width: 1360px;
    gap: 24px;
    margin: 0px auto;
}

.card-info{
    height: 300px;
    box-shadow: 1px 1px 50px 0px #00000010;
    padding: 24px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center; 
    gap: 16px; 
}

.card-info img{
    display: inline-block;
    background-color: #F95555;
    padding: 12px;
    border-radius: 1000px;
    border: none;
    margin-bottom: 16px;
}

.card-info h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
}

.card-info p{
    color: #627382;
    font-size: 16px;
}

.solution{
    padding: 120px;
}

.sol-container{
    display: flex;
    gap: 60px;
}

.sol-text-ctn{
    display: flex;
    flex-direction: column;       
    justify-content: center;   
    gap: 16px;   
}

.point{
    display: flex;
}

.point img{
    margin-right: 6px;
}

#txt-sol{
    margin-bottom: 40px;
}

.txt-p p{
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}

#txt-sol h1{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}

#txt-sol p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

.point-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.point p{
    color: #001931;
    font-weight: 600;
}

.challenge-section{
    background-color: white;
    padding: 2px 120px 120px;
}

.ch-container{
    background-color: #F7F6F2;
    max-width: 1360px;
    gap: 24px;
    margin: 0px auto;
    padding: 80px 40px;
    border-radius: 12px;
    text-align: center;
    gap: 24px;
    display: flex;
    flex-direction: column;

}

.ch-container p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}

.ch-title h3{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.ch-button button{
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-bottom: 16px;
}

footer{
    background-color: #001931;
    padding: 120px 120px 30px;
}

.footer-logo-div{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0px auto;
}

.social-container h3{
    font-size: 20px;
    color: white;
    margin-bottom: 16px;
}

.social-icon img{
    margin-right: 16px;
}

.line{
    width: 1360px;
    margin: 80px auto 0px;
    height: 0;
    border: 1px solid rgba(229,231,235,1);
    opacity: 0.2;
}

.copyright{
    max-height: 52px;
    text-align: center;

}

.copyright p{
    font-size: 16px;
    font-weight: 200;
    color: #FAFAFA;
    margin-top: 30px;
}